<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Django Formset JS example</title>

{{ formset.media }}
<style type="text/css">
.bg-danger {
	background-color: #F2DEDE;
}
</style>

</head>
<body>
    <form action="." method="post">{% csrf_token %}

    {% load formset_tags %}

    <div id="formset" data-formset-prefix="{{ formset.prefix }}">
        {{ formset.management_form }}

        <div data-formset-body>
            <!-- New forms will be inserted in here -->
            {% for form in formset %}
                {% include "form.html" with form=form newform=False only %}
            {% endfor %}
        </div>

        <!-- The empty form template. By wrapping this in a <script> tag, the
        __prefix__ placeholder can easily be replaced in both attributes and
        any scripts -->
        <script type="form-template" data-formset-empty-form>
            {% escapescript %}
                {% include "form.html" with form=formset.empty_form newform=True only %}
            {% endescapescript %}
        </script>

        <!-- This button will add a new form when clicked -->
        <input type="button" value="Add another" data-formset-add>

        <script>jQuery(function($) {
            $("#formset").formset({
				markDeleted: true,
				numberNewForms: true
            }).on('formAdded', function() {
                console.log("Form added", this, arguments);
            }).on('formDeleted', function() {
                console.log("Form deleted", this, arguments);
            });
        });</script>

    </div>

    <button type="submit">Submit</button>

    </form>
</body>
</html>
